/* http://meyerweb.com/eric/tools/css/reset/
   v2.0 | 20110126
   License: none (public domain)
*/

html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
    margin: 0;
    padding: 0;
    border: 0;
    vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure,
footer, header, hgroup, menu, nav, section {
    display: block;
}
blockquote, q {
    quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
    content: '';
    content: none;
}
table {
    border-collapse: collapse;
    border-spacing: 0;
}

/* ########################################################################## */
body {
    font-family: "open-sans", "sans-serif";
}
h1 {
    text-align: center;
    margin: 50px auto;
}
p {
    text-align: center;
    line-height: 150%;
}
a {
    color: blue;
    text-decoration: underline;
    padding: 3px;
}
a:visited, a:hover, a:active {
    color: blue;
}
a:hover {
    background: blue;
    color: white;
}
.container {
    width: 940px;
    padding: 10px;
    margin: auto;
    position: relative;
}

.columns-container li.active {
    background: #499bea;
    background: -moz-linear-gradient(top,  #499bea 0%, #207ce5 100%);
    background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#499bea), color-stop(100%,#207ce5));
    background: -webkit-linear-gradient(top,  #499bea 0%,#207ce5 100%);
    background: -o-linear-gradient(top,  #499bea 0%,#207ce5 100%);
    background: -ms-linear-gradient(top,  #499bea 0%,#207ce5 100%);
    background: linear-gradient(to bottom,  #499bea 0%,#207ce5 100%);
}

.render-columns {
    background: white;
    color: black;
    margin: 20px 0;
}
